html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: monospace;
  overflow: hidden;
}
.sidebar {
  grid-area: sidebar;
  background: #bbb;
  display: block;
  height: 100%;
}
.display {
  grid-area: display;
  display: block;
  background: #333;
  height: 100%;
}
.wrapper {
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    'display sidebar';
}

.transformform {
  background: #eee;
  border-radius: 5px;
  margin: 5px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.transformform:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.x {
  position: absolute;
  top: 5px;
  right: 15px;
  cursor: pointer;
}

fieldset {
    border: 0px !important;
}

.input {
    position: fixed;
    top: 2px;
    right: 2px;
    z-index: 1000;
}
.flex {
    display: flex;
    align-items: center;
}

input {
    width: 30px;
    margin: 2px 4px;
}
